* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;

}

.bcg {
  background-color: #008b8b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  height: 500px;
  width: 700px;
  background-color: white;
  border-radius: 15px;
}

form header {
  width: 700px;
  height: 125px;
  background-color: #e9f3f3;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

form header p {
  font-size: 45px;
  font-family: Calibri, serif;
  font-weight: 300;
}

.inputs {
  width: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

input[type="text"] {
  width: 525px;
  height: 50px;

  margin-top: 25px;
  padding: 10px;
}

input[type="password"] {
  width: 525px;
  height: 50px;

  margin-top: 25px;
  padding: 10px;
}

.buttons{
  width: 525px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}
.remember_me{
  display: flex;
  align-items: center;
  gap: 10px;
}

.remember_me span {
  font-size: 20px;
  font-family: Calibri, serif;
  font-weight: 300;

  order: -1;
}

input[type="checkbox"]{
  scale: 1.3;
}

input[type="submit"]{
  height: 40px;
  width: 125px;
  background-color: #e9f3f3;

  border: 1px solid #888888;
  border-radius: 10px;
}
input[type="submit"]:hover{
  background-color: #b4d6d6;
}

