@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 48px;
  gap: 32px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.card{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 271px;
}
.card h3{
  margin-top: 20px;

  color: #161543;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%; /* 24px */
}
.card p{
  margin-top: 10px;

  color: #7687A1;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */

  align-self: stretch;
}
