*{
  padding: 0;
  margin: 0;
}

header{
  height: 21.844vh;
  background-color: #cfcfcf;
}
main{
  display: flex;
  height: 56.312vh;
}
footer{
  height: 21.844vh;
  background-color: #cfcfcf;
}
.side{
  background-color: #acacac;
  height: 56.312vh;
  width: 26.852vw;
}
.center{
  display: flex;
  flex-wrap: wrap;
  height: 56.312vh;
  width: 46.296vw;
}
.center_bottom{
  width: 46.296vw;
  height: 30.17vh;
  background-color: #8e8e8e;
}
.center_top{
  width: 46.296vw;
  height: 26.141vh;
  background-color: #7c7c7c;
}
